*{
    box-sizing: border-box;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100vw;
    height: 100vh;
    cursor: url("./assets/cursor.png") 11 13, auto;
}
